@import "./styles/titles.css";
@import "./styles/bigStatsBox.css";
@import "./styles/smallStatsBox.css";
@import "./styles/darkmodeToggles.css";
@import "./styles/colorClasses.css";

body {
    font-family: 'Inter', sans-serif;
}

.attribution {
    text-align: center;
    font-size: .75vw;
}

a {
    color: inherit;
}