#bg-boxes-container {
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.big-stats-box {
    width: 15vw;
    height: 13vw;
    display: flex;
    flex-direction: column;
    background-color: hsl(227, 47%, 96%);
    border-radius: 3px;
}

.big-stats-box:hover {
    cursor: pointer;
    background-color: hsl(227, 47%, 92%);
}


.color-trim {
    height: 2.5%;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.profile-name {
    margin-top: 1vw;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.nickname {
    font-size: .75vw;
    margin-left: .5vw;
    color: hsl(228, 12%, 44%);
}

.follower-count {
    margin-top: -2vw;
    padding-top: -10vw;
    text-align: center;
    font-size: 1.75vw;
}

.followers-text {
    text-align: center;
    text-transform: uppercase;
}

.followers-label {
    margin-top: -2.5vw;
    font-weight: 300;
    font-size: .9vw;
    letter-spacing: .25vw;
}

.daily-margin {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticker-icon {
    width: .75vw;
    margin-right: .25vw;
}

.margin-ticker {
    font-size: .75vw;
    font-weight: 700;
}